body {
    display: flex;
    background-color: #f6f6f2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title h1 {
    font-size: 48px;
}

.buttons {
    display: flex;
    gap: 16px;
    margin: 16px;
}

button {
    padding: 24px 32px;
    font-size: 18px;
    background-color: #badfe7;
    border: 2px solid #000000;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 5px;
}

button:active {
    margin-top: 5px;
    box-shadow: 0px 0px;
    background-color: #6fb3b8;
}